# Chameleon Only, not versioned per openstack release.
[submodule "ansible-role-docker-service"]
	path = utils/ansible-role-docker-service
	url = https://github.com/ChameleonCloud/ansible-role-docker-service
	branch = main
[submodule "ansible-role-periodic-task"]
	path = utils/ansible-role-periodic-task
	url = https://github.com/ChameleonCloud/ansible-role-periodic-task
	branch = master
[submodule "hammers"]
	path = utils/hammers
	url = https://github.com/ChameleonCloud/hammers
	branch = master
[submodule "hammers-v2"]
	path = utils/hammers-v2
	url = https://github.com/ChameleonCloud/hammers-v2
	branch = main
[submodule "chi-blazar-tempest-plugin"]
	path = utils/chi-blazar-tempest-plugin
	url = https://github.com/ChameleonCloud/chi-blazar-tempest-plugin
	branch = main
[submodule "tempest_smoke_tests"]
	path = utils/tempest_smoke_tests
	url = https://github.com/ChameleonCloud/tempest_smoke_tests
	branch = main
[submodule "python-chi"]
	path = clients/python-chi
	url = https://github.com/ChameleonCloud/python-chi
	branch = master
[submodule "python-chi-edge"]
	path = clients/python-chi-edge
	url = https://github.com/ChameleonCloud/python-chi-edge
	branch = main
[submodule "cc-images"]
	path = utils/cc-images
	url = https://github.com/ChameleonCloud/cc-images
	branch = main
[submodule "chi-edge-workers"]
	path = deploy/chi-edge-workers
	url = https://github.com/ChameleonCloud/chi-edge-workers
	branch = main


#######################
# Versioned per release
# CHI Only, no fork
#######################

[submodule "chi-in-a-box"]
	path = deploy/chi-in-a-box
	url = https://github.com/ChameleonCloud/chi-in-a-box
	branch = stable/xena
[submodule "kolla-containers"]
	path = build/kolla-containers
	url = https://github.com/ChameleonCloud/kolla-containers
	branch = backport/xena-edge
[submodule "doni"]
	path = services/doni
	url = https://github.com/ChameleonCloud/doni
	branch = chameleoncloud/xena
[submodule "python-doniclient"]
	path = clients/python-doniclient
	url = https://github.com/ChameleonCloud/python-doniclient
	branch = main
[submodule "tunelo"]
	path = services/tunelo
	url = https://github.com/ChameleonCloud/tunelo
	branch = chameleoncloud/xena
[submodule "networking-wireguard"]
	path = services/networking-wireguard
	url = https://github.com/ChameleonCloud/networking-wireguard
	branch = chameleoncloud/xena

#######################
# Versioned per release
# Forked.
#######################
[submodule "kolla-ansible"]
	path = deploy/kolla-ansible
	url = https://github.com/ChameleonCloud/kolla-ansible
	branch = chameleoncloud/xena
[submodule "kolla"]
	path = build/kolla
	url = https://github.com/ChameleonCloud/kolla
	branch = chameleoncloud/xena
[submodule "horizon"]
	path = services/horizon
	url = https://github.com/ChameleonCloud/horizon
	branch = chameleoncloud/xena
[submodule "ironic"]
	path = services/ironic
	url = https://github.com/ChameleonCloud/ironic
	branch = chameleoncloud/xena
[submodule "zun"]
	path = services/zun
	url = https://github.com/ChameleonCloud/zun
	branch = chameleoncloud/xena
[submodule "blazar"]
	path = services/blazar
	url = https://github.com/ChameleonCloud/blazar
	branch = chameleoncloud/xena
[submodule "blazar-dashboard"]
	path = services/blazar-dashboard
	url = https://github.com/ChameleonCloud/blazar-dashboard
	branch = chameleoncloud/xena
[submodule "networking-generic-switch"]
	path = services/networking-generic-switch
	url = https://github.com/ChameleonCloud/networking-generic-switch
	branch = chameleoncloud/xena
[submodule "nova"]
	path = services/nova
	url = https://github.com/ChameleonCloud/nova
	branch = chameleoncloud/xena
[submodule "python-blazarclient"]
	path = clients/python-blazarclient
	url = https://github.com/ChameleonCloud/python-blazarclient
	branch = chameleoncloud/xena
[submodule "keystone"]
	path = services/keystone
	url = https://github.com/ChameleonCloud/keystone
	branch = chameleoncloud/xena
[submodule "heat"]
	path = services/heat
	url = https://github.com/ChameleonCloud/heat
	branch = chameleoncloud/xena
[submodule "heat-dashboard"]
	path = services/heat-dashboard
	url = https://github.com/ChameleonCloud/heat-dashboard
	branch = chameleoncloud/xena
[submodule "zun-ui"]
	path = services/zun-ui
	url = https://github.com/ChameleonCloud/zun-ui
	branch = chameleoncloud/xena
[submodule "blazar-nova"]
	path = services/blazar-nova
	url = https://github.com/ChameleonCloud/blazar-nova
	branch = chameleoncloud/xena
[submodule "cyborg"]
	path = services/cyborg
	url = https://github.com/ChameleonCloud/cyborg
	branch = chameleoncloud/xena
[submodule "python-zunclient"]
	path = clients/python-zunclient
	url = https://github.com/ChameleonCloud/python-zunclient
	branch = chameleoncloud/xena