###############################################################
# chameleon-rolling
# Chameleon-only, not versioned per openstack release.
# Track main/master; CI bumps these continuously.
###############################################################

# Ansible Roles for deployment
[submodule "ansible-role-docker-service"]
	path = chameleon-rolling/ansible-role-docker-service
	url = https://github.com/ChameleonCloud/ansible-role-docker-service
	branch = main
[submodule "ansible-role-periodic-task"]
	path = chameleon-rolling/ansible-role-periodic-task
	url = https://github.com/ChameleonCloud/ansible-role-periodic-task
	branch = master

# various periodic tasks
[submodule "hammers"]
	path = chameleon-rolling/hammers
	url = https://github.com/ChameleonCloud/hammers
	branch = master
[submodule "hammers-v2"]
	path = chameleon-rolling/hammers-v2
	url = https://github.com/ChameleonCloud/hammers-v2
	branch = main

# End to end tests
[submodule "chi-blazar-tempest-plugin"]
	path = chameleon-rolling/chi-blazar-tempest-plugin
	url = https://github.com/ChameleonCloud/chi-blazar-tempest-plugin
	branch = main
[submodule "tempest_smoke_tests"]
	path = chameleon-rolling/tempest_smoke_tests
	url = https://github.com/ChameleonCloud/tempest_smoke_tests
	branch = main

# Client libraries
[submodule "python-chi"]
	path = chameleon-rolling/python-chi
	url = https://github.com/ChameleonCloud/python-chi
	branch = master
[submodule "python-chi-edge"]
	path = chameleon-rolling/python-chi-edge
	url = https://github.com/ChameleonCloud/python-chi-edge
	branch = main

# Balena fleet definitions for chi@edge
[submodule "chi-edge-workers"]
	path = chameleon-rolling/chi-edge-workers
	url = https://github.com/ChameleonCloud/chi-edge-workers
	branch = main

# utilities and artifacts
[submodule "cc-images"]
	path = chameleon-rolling/cc-images
	url = https://github.com/ChameleonCloud/cc-images
	branch = main
[submodule "cc-snapshot"]
	path = chameleon-rolling/cc-snapshot
	url = https://github.com/ChameleonCloud/cc-snapshot
	branch = master


###############################################################
# chameleon-release
# Chameleon-only, versioned per openstack release.
# Pinned to a release branch (chameleoncloud/2025.1, stable/2025.1).
###############################################################

[submodule "chi-in-a-box"]
	path = chameleon-release/chi-in-a-box
	url = https://github.com/ChameleonCloud/chi-in-a-box
	branch = wip/chameleoncloud/2025.1
[submodule "kolla-containers"]
	path = chameleon-release/kolla-containers
	url = https://github.com/ChameleonCloud/kolla-containers
	branch = chameleoncloud/2025.1

[submodule "python-doniclient"]
	path = chameleon-release/python-doniclient
	url = https://github.com/ChameleonCloud/python-doniclient
	branch = wip/chameleoncloud/2025.1
[submodule "doni"]
	path = chameleon-release/doni
	url = https://github.com/ChameleonCloud/doni
	branch = wip/chameleoncloud/2025.1

[submodule "networking-wireguard"]
	path = chameleon-release/networking-wireguard
	url = https://github.com/ChameleonCloud/networking-wireguard
	branch = wip/chameleoncloud/2025.1
[submodule "tunelo"]
	path = chameleon-release/tunelo
	url = https://github.com/ChameleonCloud/tunelo
	branch = wip/chameleoncloud/2025.1


###############################################################
# forks-rolling
# Forks of upstream, not versioned per openstack release.
# Track main/master. Empty today; see forks-rolling/.gitkeep.
###############################################################


###############################################################
# forks-release
# Forks of upstream, versioned per openstack release.
# all chameleoncloud/2025.1 branches are chameleon patches rebased
# onto the most recent 2025.1 upstream branch or commit.
# Currently stable/2025.1 for all repos.
###############################################################

[submodule "kolla-ansible"]
	path = forks-release/kolla-ansible
	url = https://github.com/ChameleonCloud/kolla-ansible
	branch = wip/chameleoncloud/2025.1
[submodule "kolla"]
	path = forks-release/kolla
	url = https://github.com/ChameleonCloud/kolla
	branch = wip/chameleoncloud/2025.1

# Blazar
[submodule "python-blazarclient"]
	path = forks-release/python-blazarclient
	url = https://github.com/ChameleonCloud/python-blazarclient
	branch = wip/chameleoncloud/2025.1
[submodule "blazar-dashboard"]
	path = forks-release/blazar-dashboard
	url = https://github.com/ChameleonCloud/blazar-dashboard
	branch = wip/chameleoncloud/2025.1
[submodule "blazar"]
	path = forks-release/blazar
	url = https://github.com/ChameleonCloud/blazar
	branch = wip/chameleoncloud/2025.1

# Cinder: N/A

# Glance: N/A

# Heat
[submodule "heat"]
	path = forks-release/heat
	url = https://github.com/ChameleonCloud/heat
	branch = wip/chameleoncloud/2025.1
[submodule "heat-dashboard"]
	path = forks-release/heat-dashboard
	url = https://github.com/ChameleonCloud/heat-dashboard
	branch = wip/chameleoncloud/2025.1

# Horizon
[submodule "horizon"]
	path = forks-release/horizon
	url = https://github.com/ChameleonCloud/horizon
	branch = wip/chameleoncloud/2025.1

# Ironic
[submodule "ironic"]
	path = forks-release/ironic
	url = https://github.com/ChameleonCloud/ironic
	branch = wip/chameleoncloud/2025.1

# Keystone
[submodule "keystone"]
	path = forks-release/keystone
	url = https://github.com/ChameleonCloud/keystone
	branch = wip/chameleoncloud/2025.1

# Neutron
[submodule "networking-generic-switch"]
	path = forks-release/networking-generic-switch
	url = https://github.com/ChameleonCloud/networking-generic-switch
	branch = wip/chameleoncloud/2025.1

# Nova
[submodule "nova"]
	path = forks-release/nova
	url = https://github.com/ChameleonCloud/nova
	branch = wip/chameleoncloud/2025.1

# Zun
[submodule "python-zunclient"]
	path = forks-release/python-zunclient
	url = https://github.com/ChameleonCloud/python-zunclient
	branch = wip/chameleoncloud/2025.1
[submodule "zun-ui"]
	path = forks-release/zun-ui
	url = https://github.com/ChameleonCloud/zun-ui
	branch = wip/chameleoncloud/2025.1
[submodule "zun"]
	path = forks-release/zun
	url = https://github.com/ChameleonCloud/zun
	branch = wip/chameleoncloud/2025.1
[submodule "forks-release/netmiko"]
	path = forks-release/netmiko
	url = https://github.com/ChameleonCloud/netmiko
	branch = chameleoncloud/v4.5.0
